/Quadratic_Vassiljev/build/
/Developer_Vassiljev/nbproject/private/
/Developer_Vassiljev/build/
/Parameters_Vassiljev/nbproject/private/
/Parameters_Vassiljev/build/
/Palk_Vassiljev/nbproject/private/
/JavaProject21/nbproject/private/
/JavaProject21/build/